Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

@rachellim Do we intend to fully support RFC2048?

We fully adhere to RFC 4180 (https://tools.ietf.org/html/rfc4180) in the `tf.decode_csv` function.
(I couldn't find anything in RFC 2048, section 2.6 about CSV... I assume that was a typo? Feel free to link me to a different RFC if there is one @PForet) 

However, the issue here is that `TextLineDataset` splits the file on all linebreaks, regardless of whether its encapsulated in quotations (before any notion of CSV is introduced), so the `decode_csv` function receives an incomplete record as input. I'm working on a fused reading + parsing dataset type that will fix this issue.

RFC 4180 indeed, my mistake. Thanks for the support. Should I edit the title to reflect the fact that the issue relates to `TextLineDataset`?